---
// src/components/blog/BlogContent.astro
// Created: Blog content renderer with prose styling

import "../../styles/blog-content.css";
import { parseContent } from "../../utils/contentParser";

interface Props {
  content: string;
}

const { content } = Astro.props;

const parsedContent = parseContent(content);
---

<div class="blog-content prose prose-lg max-w-none">
  <Fragment set:html={parsedContent} />
</div>
